---
const { title } = Astro.props;

import MenuCard from "../MenuCard.astro";

import { Image } from "astro:assets";
import sushi3Image from "../../assets/sushi-3.png";
---

<section>
    <h2 id="menu">{title}</h2>
    <p>La lista di tutti i nostri menù <strong>aggiornata</strong> con piatti gustosi, freschi e di qualità</p>

    <div class="cards">
        <MenuCard text="MENÙ NATALE/CAPODANNO" url="/menu/menu-capodanno.jpg" />
        <MenuCard text="MENÙ PRANZO" url="/menu/menu-pranzo.pdf" />
        <MenuCard text="MENÙ CENA" url="/menu/menu-cena.pdf" />
        <MenuCard text="MENÙ TAKEAWAY" url="/menu/menu-takeaway.pdf" />
        <MenuCard text="MENÙ BEVANDE E VINI" url="/menu/menu-vini.pdf" />
    </div>

    <Image src={sushi3Image} alt="Sushi" />
</section>

<style>
    h2 {
        scroll-margin-top: 7rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width: 1000px) {
        h2 {
            scroll-margin-top: 12rem;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            max-width: 70rem;
            margin: auto;
        }
    }
</style>
