---
const { title } = Astro.props;

import "@fontsource-variable/montserrat";
import "bootstrap-icons/font/bootstrap-icons.css";

import "aos/dist/aos.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sito ufficiale del ristorante Mura Fusion Restaurant. Qui troverete la nostra storia, il menù aggiornato , i contatti e tanto altro."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Modal title="Riapertura ristorante" valid="2025-10-14">
      Il ristorante riaprirà stasera (14 Ottobre) in seguito alla chiusura
      temporanea avvenuta per problemi tecnici. Ci scusiamo per il disagio.
    </Modal>

    <Header />

    <slot />

    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: #8f7600;
    --black: #000000;
    --white: #f1f1f1;

    --header-height: 5.29rem;
    --desktop-header-height: 9.29rem;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Variable";
  }
  main {
    display: flex;
    flex-direction: column;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    text-align: center;
    background: var(--white);
  }
  main section:first-of-type {
    margin-top: var(--header-height);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p,
  a,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family: "Montserrat Variable";
  }
  p,
  li {
    font-weight: 500;
  }
  h2 {
    color: var(--accent);
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  @media screen and (min-width: 1000px) {
    section {
      padding: 3rem;
      gap: 2rem;
      align-items: center;
    }
    main section:first-of-type {
      margin-top: var(--desktop-header-height);
    }
    section p:first-of-type,
    p:first-of-type a {
      font-size: 1.5rem;
      max-width: 75rem;
    }

    img {
      max-width: 27.5rem;
    }

    p,
    li,
    a {
      font-size: 1.25rem;
    }
    h2 {
      font-size: 2.75rem;
    }
    h4 {
      font-size: 1.35rem;
    }
  }
</style>

<script>
  import AOS from "aos";

  AOS.init({ once: true });
</script>
